@font-face { 
  font-family: 'Gilroy';       
  src: url('../fonts/gilroylight.woff2'); 
  font-weight: normal;               
  font-style: normal; 
} 

@font-face { 
  font-family: 'Gilroy';       
  src: url('../fonts/gilroyextrabold.woff2'); 
  font-weight: ExtraBold;             
  font-style: normal; 
} 

@font-face { 
  font-family: 'Open Sans';       
  src: url('../fonts/opensanslight.woff2');
  font-weight: normal;             
  font-style: normal; 
} 

@font-face { 
  font-family: 'Open Sans';       
  src: url('../fonts/opensans.woff2'); 
  font-weight: ExtraBold;               
  font-style: normal; 
} 

body {
	font-family: "Open Sans", "Arial", sens-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 30px;
	color: #000000;

}

.title2{
	font-family: "Gilroy", "Arial", sens-serif;
	font-size: 47px;
	font-weight:  ExtraBold;
	line-height: auto;
	color:inherit;
}

.product-description-heder {
	font-family: "Gilroy", "Arial", sens-serif;
	font-size: 18px;
	font-weight:  ExtraBold;
	line-height: auto;
	color:inherit;

}